{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="recipe_name">Recipe Name</label>
    <input name="recipe_name" value="{{ request.form['recipe_name'] }}" required>
    <label for="meal_served">Meal Served</label>
    <input name="meal_served" value="{{ request.form['meal_served'] }}" required>
    <label for="serving_size">Meals Served for Two People</label>
    <input name="serving_size" value="{{ request.form['serving_size'] }}" required>
    <textarea name="ingredient_info" style="width:200px; height:600px">
      {{ request.form['ingredient_info'] }}
    </textarea>
    <input type="submit" value="Add" href="{{ url_for('create.index') }}">
  </form>
{% endblock %}
