{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Grocery List{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form>
    <input type="text" value="{{ grocery_string }}">Grocery String</input>
    <ul style="list-style-type:none">
      {% for item in grocery_list %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </form>
  <table style="width:100%">
    <tr>
      {% for planning_info in recipe_plans %}
        <th>{{ planning_info }}</th>
        {% for info in planning_info %}
          <td>{{ info }}</td>
        {% endfor %}
      {% endfor %}
    </tr>
  </table>
{% endblock %}
