<!DOCTYPE html>
<title>{% block title %}{% endblock %}Meal Prep Helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Meal Prep Helper</a></h1>
  <u1>
    <li><a href="{{ url_for('create.create_list') }}">Create Food List</a>
    <li><a href="{{ url_for('create.add_recipe') }}">Add New Recipe</a>
    <li><a href="{{ url_for('create.select_recipe_to_edit')}}">Edit Recipe</a>
  </u1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
